[Desktop Entry]
Name=Runescape
Comment=Multiplayer online game set in a fantasy world
Exec=runescape
Keywords=game;adventure;MMORPG;multiplayer;online;
Terminal=false
Type=Application
Icon=runescape
Categories=Game;AdventureGame;RolePlaying;
